# Server
SERVER_PORT=8080
SERVER_READ_TIMEOUT=15s
SERVER_WRITE_TIMEOUT=15s

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=atlaspay
DB_PASSWORD=atlaspay_secret
DB_NAME=atlaspay
DB_SSLMODE=disable

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# Kafka
KAFKA_BROKERS=localhost:9092
KAFKA_GROUP_ID=atlaspay

# JWT
JWT_ACCESS_SECRET=atlaspay-access-secret-dev-only
JWT_REFRESH_SECRET=atlaspay-refresh-secret-dev-only
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=168h
